APP_NAME="EstouAqui API"
APP_ENV=local
APP_KEY=base64:RdLsUm08BVxcQ7xAtljPEUtSydSa9gFgR9HJbcZ/PYY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=pt
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_PT

# Configuração do Banco de Dados TiDB Cloud
DB_CONNECTION=mysql
DB_HOST=gateway01.eu-central-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_DATABASE=estouaqui_db
DB_USERNAME=4RMcv6eCSR4dRd5.root
DB_PASSWORD=jwtIRtqLi2nacFnf
MYSQL_ATTR_SSL_CA=storage/app/certs/isrgrootx1.pem
MYSQL_ATTR_SSL_VERIFY_SERVER_CERT=false

# Para conexão sem SSL (não recomendado em produção)
MYSQL_ATTR_SSL_CA=false

# Cache e Sessão
SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file

# Queue
QUEUE_CONNECTION=database

# Log
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Mail (configurar depois)
MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@estouaqui.com"
MAIL_FROM_NAME="${APP_NAME}"

# Frontend URL (para CORS)
FRONTEND_URL=http://localhost:9000
